rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
          (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' ||
           get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin');
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isAdmin() || isOwner(userId);
      allow delete: if isAdmin();
    }

    match /workouts/{workoutId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /routines/{routineId} {
      allow read: if isSignedIn() && (isAdmin() || resource.data.clientId == request.auth.uid);
      allow write: if isAdmin();
    }

    match /routine_logs/{logId} {
      allow read: if isSignedIn() && (isAdmin() || resource.data.userId == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isAdmin();
    }

    match /notifications/{notifId} {
      allow read, update: if isSignedIn() && (
        (request.auth.uid == resource.data.userId) ||
          (isAdmin() && resource.data.targetRole == 'admin')
      );
      allow create: if isSignedIn();
      allow delete: if isAdmin();
    }

    match /promotions/{promotionId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /resources/{resourceId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
  }
}